SECRET_KEY=CHANGE_ME_PLEASE
ALGORITHM=HS256

MYSQL_ROOT_PASSWORD=123456
MYSQL_USER=root
MYSQL_PASSWORD=123456
MYSQL_DB=vehicle_price_db

CLICKHOUSE_USER=default
CLICKHOUSE_PASSWORD=
CLICKHOUSE_DB=crawl

OSS_ENABLED=false
OSS_AUTH_MODE=keys
OSS_BUCKET=
OSS_ENDPOINT=
OSS_PREFIX=car-price

BACKEND_API_BASE_URL=http://backend:8000
QDRANT_URL=http://qdrant:6333
